<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteNumberOne" verbose="7" >
    <test name="SmokeTest" >
        <classes>
            <!--<class name="lesson2.PrimeNumber"/>
            <class name="ui.GoogleSearchTest"/>-->
            <class name="ui_tests.MacBooksComparisonTest"/>
        </classes>
    </test>
</suite>